
</br>
</br>
<div class="field"> <label>Biographie</label> </div>
<!-- <input <% if (locals.infos && locals.infos.bio != "") {%> value="<%= locals.infos.bio %>" <%}%> type="text" name="bio"> -->
<textarea style="height:80px;" name="bio"><% if (locals.infos && locals.infos.bio != "") {%><%= locals.infos.bio %><%}%></textarea>
