<div class="comment">
	<a class="avatar">
		<% if (message.author == locals.my_login) {%>
		<img src="/assets/avatar/elyse.png">
		<% } else {%>
			<img src="/assets/avatar/daniel.jpg">
		<% } %>
	</a>
	<div class="content">
		<a class="author"><%= message.author %></a>
		<div class="metadata">
			<span class="date"><%= message.data_stamp %></span>
		</div>
		<div class="text">
			<%= message.message_content %>
		</div>
	</div>
</div>
