	<form id="chat" action="#" method="post" class="ui reply form">
		<div class="field">
			<textarea id="message_area" name="message"></textarea>
		</div>
			<button type="submit">
		<div class="ui blue labeled submit icon button">
				<i class="icon edit"></i> Send
		</div>
			</button>
	</form>
