	<form id="chat" action="#" method="post" class="ui reply form">
		<div class="field">


<textarea name="message_content" id="myTextarea">
</textarea>



		</div>
			<button class="ui blue labeled submit icon button" type="submit">
		<!-- <div class="ui blue labeled submit icon button"> -->
				<i class="icon edit"></i> Send
		<!-- </div> -->
			</button>
	</form>
