



<div class="field"> <label>Country</label> </div>
<div class="ui input"> <input type="text" name="country" placeholder="First Name" <% if (locals.infos && locals.infos.country) { %> value ="<%= locals.infos.country %>" <% } %> > </div>
</br>
</br>
<div class="field"> <label>City</label> </div>
<div class="ui input"> <input type="text" name="city" placeholder="First Name" <% if (locals.infos && locals.infos.city) { %> value ="<%= locals.infos.city %>" <% } %> > </div>
</br>
</br>
<div class="field"> <label>Zip Code</label> </div>
<div class="ui input"> <input type="text" name="zipcode" placeholder="First Name" <% if (locals.infos && locals.infos.zip_code) { %> value ="<%= locals.infos.zip_code %>" <% } %> > </div>
</br>
</br>
<button class="ui button" type="submit">Submit</button>
