



<div class="field"> <label>Country</label> </div>
<div class="ui input"> <input type="text" name="country" placeholder="First Name" <% if (session.localisation && session.localisation['country']) { %> value ="<%= session.localisation['country'] %>" <% } %> > </div>
</br>
</br>
<div class="field"> <label>City</label> </div>
<div class="ui input"> <input type="text" name="city" placeholder="First Name" <% if (session.localisation && session.localisation['city']) { %> value ="<%= session.localisation['city'] %>" <% } %> > </div>
</br>
</br>
<div class="field"> <label>Zip Code</label> </div>
<div class="ui input"> <input type="text" name="zipcode" placeholder="First Name" <% if (session.localisation && session.localisation['zipcode']) { %> value ="<%= session.localisation['zipcode'] %>" <% } %> > </div>
</br>
</br>
<button class="ui button" type="submit">Submit</button>
