<% if (report == false) { %>
<a href="/fake/<%= login %>">
    <div class="ui red button medium">
        Report as fake
    </div>
</a>
<% }else{ %>
    <div class="ui grey button medium">
        Already reported
    </div>
<% } %>