

<div class="notifications"> </div>
<p>FOOTER</p>



<link rel="stylesheet" href="/assets/style.css" type="text/css" >
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>

<script>

	<% if(locals.token) { %>
		localStorage.setItem('Thetoken', "<%= session.token %>");
	var test = localStorage.getItem('Thetoken');
	console.log("le super token");
	console.log(test);
	var socket = io.connect('http://localhost:8080');
	socket.on('connect', () => {
		console.log("je suis connecter");
		socket.emit('identify', {
			token: test
		});
		socket.on('result_connect', (data) => {
			if (data.result == true){
				console.log("Log success");
				notification({title: 'Notification', content: 'You logged on sucessfully', icon: '&#128077;'})
			}
		})

	});
	<% } else { %>
				console.log("ici 2");
		console.log("pas de locals");
	<% } %>

	console.log("ici 3");
	console.log(test);

</script>


<script>

	function notification (options){
		var html =  ' <div class="notification"> \
						<div class="left"> \
						<div class="icon"> \
						'+ options.icon +' \
						</div> \
						</div> \
						<div class="right"> \
						<h2>'+ options.title + '</h2> \
						<p>' + options.content +'</p> \
						</div> \
						</div>';

		var $notifs = $('.notifications');
		$notifs.append(html).slideDown(300);
		setTimeout( function() {
			$('.notification').slideUp(300, function(){
				$('.notification').remove();
			})
		}, 3000);
		$('.notification').click(function(event){
			$('.notification').slideUp(300, function(){
				$('.notification').remove();
			})
		})
	}

</script>


</body>
</html>
