

<div class="notifications"> </div>
<p>FOOTER</p>



<link rel="stylesheet" href="/assets/style.css" type="text/css" >
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>

<script>
	<% if(locals.token) { %>
				console.log("ici 1");
		console.log('<%= locals.token %>');
	<% } else { %>
				console.log("ici 2");
		console.log("pas de locals");
	<% } %>
		localStorage.setItem('Thetoken', "<%= session.token %>");
	var test = localStorage.getItem('Thetoken');
	console.log("le super token");
	console.log(test);
	var socket = io.connect('http://localhost:8080');
	socket.on('connect', () => {
		console.log("je suis connecter");
		socket.emit('identify', {
			token: test
		});
		socket.on('result_connect', (data) => {
			if (data.result == true){
				console.log("Log sucess");
				notification({title: 'Notification', content: 'Your log on sucessfully', icon: '&#128077;'})
			}
		})

	});
	console.log("ici 3");
	console.log(test);

</script>


<script>

	function notification (options){
		var html =  ' <div class="notification"> \
						<div class="left"> \
						<div class="icon"> \
						'+ options.icon +' \
						</div> \
						</div> \
						<div class="right"> \
						<h2>'+ options.title + '</h2> \
						<p>' + options.content +'</p> \
						</div> \
						</div>';

		var $notifs = $('.notifications');
		$notifs.append(html).slideDown(300);
		setTimeout( function() {
			$('.notification').slideUp(300, function(){
				$('.notification').remove();
			})
		}, 3000);
		$('.notification').click(function(event){
			$('.notification').slideUp(300, function(){
				$('.notification').remove();
			})
		})
	}

	//<!-- $('.aller').click(function(event){ -->
	//<!-- 	event.preventDefault(); -->
	//<!-- 	notification({title: 'Mon titre', content: 'Mon contenu', icon: '&#128077;'}) -->
	//<!-- 	//$('body').notif({title: 'Mon titre', content: 'Mon contenu', icon: '&#128077;'}); -->
	//<!-- }) -->

</script>


<!-- <p><input type="button" value="Embêter le serveur" id="poke" /></p> -->
<!-- <ul id="presence" data-websocket="{{ getenv('WEBSOCKET') }}" data-token="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOjE1LCJpYXQiOjE1NzQ0Mzg5OTAsImV4cCI6MTU3NDQ0MjU5MH0.Ee2M_qoLVLLbrPV3zfgl3SXpzoewB5fKsezDDTAyCa0"></ul> -->


<!-- //jai commente cette lib car ca me fait planter -->
<!-- <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script> -->



<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script> -->
<script>
	//var presence = document.querySelector('#presence');

	//if (presence){
	//var socket = io.connect('http://localhost:8080');
	//socket.on('connect', () => {
	//console.log('Je suis connectée');
	//socket.emit('identify', {
	//token: presence.dataset.token
	//})
	//});
	//}
	// socket.on('message', function (message) {
	// 	alert('Le serveur a un message pour vous : ' + message);
	// })

	// var pseudo = prompt('Quel est votre pseudo ?');
	// socket.emit('petit_nouveau', pseudo);

	// $('#poke').click(function () {
	// 	socket.emit('message', 'Salut serveur, ça va ?');
	// })
	// button = document.getElementById("message");
	// button.addEventListener("click", myfunction)

	// function myfunction(){
	// 		data = "hello a tous";
	// 		socket.emit('newmessage', data);
	// 	}
</script>


</body>
</html>
