
<!-- <p><input type="button" value="Embêter le serveur" id="poke" /></p> -->
<ul id="presence" data-websocket="{{ getenv('WEBSOCKET') }}" data-token="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOjE1LCJpYXQiOjE1NzQ0Mzg5OTAsImV4cCI6MTU3NDQ0MjU5MH0.Ee2M_qoLVLLbrPV3zfgl3SXpzoewB5fKsezDDTAyCa0"></ul>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
<script>

var presence = document.querySelector('#presence');

if (presence){
	var socket = io.connect('http://localhost:8080');
	socket.on('connect', () => {
		console.log('Je suis connectée');
		socket.emit('identify', {
			token: presence.dataset.token
		})
	});
}
	// socket.on('message', function (message) {
	// 	alert('Le serveur a un message pour vous : ' + message);
	// })

	// var pseudo = prompt('Quel est votre pseudo ?');
	// socket.emit('petit_nouveau', pseudo);

	// $('#poke').click(function () {
	// 	socket.emit('message', 'Salut serveur, ça va ?');
	// })
// button = document.getElementById("message");
// button.addEventListener("click", myfunction)

// function myfunction(){
// 		data = "hello a tous";
// 		socket.emit('newmessage', data);
// 	}
</script>


</body>
</html>
