<div class="notifications"> </div>
<p>FOOTER</p>


<link rel="stylesheet" href="/assets/style.css" type="text/css" >
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
<script>

	function notification (options){
		var html =  ' <div class="notification"> \
						<div class="left"> \
						<div class="icon"> \
						'+ options.icon +' \
						</div> \
						</div> \
						<div class="right"> \
						<h2>'+ options.title + '</h2> \
						<p>' + options.content +'</p> \
						</div> \
						</div>';

		var $notifs = $('.notifications');
		$notifs.append(html).slideDown(300);
		setTimeout( function() {
			$('.notification').slideUp(300, function(){
				$('.notification').remove();
			})
		}, 3000);
		$('.notification').click(function(event){
			$('.notification').slideUp(300, function(){
				$('.notification').remove();
			})
		})
	}

		<% if( locals.first_log ) { %>
					notification({title: 'Notification', content: 'You logged on sucessfully', icon: '&#128077;'})
			<% } %>
		<% if( locals.complete_message) { %>
					notification({title: 'Notification', content: 'Area restricted to user with a profile completed', icon: '&#128077;'})
			<% } %>

		<% if(locals.token) { %>
					localStorage.setItem('Thetoken', "<%= session.token %>");
			var test = localStorage.getItem('Thetoken');
			socket = io.connect('http://localhost:8080');
			socket.on('connect', () => {
				if(event != undefined){
					console.log("first");
					//document.dispatchEvent(event);
				}
				socket.emit('identify', {
					token: test
				});
				socket.on('message', (data) =>{
					console.log("Jai recu un message");
					notification({title: 'New message from '+ data.leUser, content: data.message, icon: '&#128077;'})
				});
				socket.on('notiflike', (data) => {
					notification({title: "New like", content: data.user + " likes you!", icon: '&#128077;'});
				});
				socket.on('notifvue', (data) => {
					notification({title: "New vue!", content: data.user + " is looking at your profile page", icon: '&#128077;'});
				});
				<% if (locals.title == "Profile"){ %>
					socket.emit('vue_profile', {
						room: 'test'
					});
				<%}%>
			});
		<% } else { %>
					console.log("pas de locals");
		<% } %>
</script>
</body>
</html>
