<div class="notifications"> </div>
</div>

</div>
<div class="ui inverted vertical footer segment">
	<div class="ui text container">
		<p>FOOTER</p>
	</div>
</div>







<link rel="stylesheet" href="/assets/style.css" type="text/css" >
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
<script>

	function notification (options){
		var html =  ' <div class="notification"> \
						<div class="left"> \
						<div class="icon"> \
						'+ options.icon +' \
						</div> \
						</div> \
						<div class="right"> \
						<h2>'+ options.title + '</h2> \
						<p>' + options.content +'</p> \
						</div> \
						</div>';

		var $notifs = $('.notifications');
		$notifs.append(html).slideDown(300);
		setTimeout( function() {
			$('.notification').slideUp(300, function(){
				$('.notification').remove();
			})
		}, 3000);
		$('.notification').click(function(event){
			$('.notification').slideUp(300, function(){
				$('.notification').remove();
			})
		})
	}


		<% if( locals.ans['notification_general'] != undefined ) { %>
					notification({title: 'Message', content: '<%= locals.ans['notification_general'] %>', icon: '&#128077;'})
		<% } %>


		<% if( locals.first_log ) { %>
					notification({title: 'Notification', content: 'You logged on sucessfully', icon: '&#128077;'})
			<% } %>
		<% if( locals.complete_message) { %>
					notification({title: 'Notification', content: 'Area restricted to user with a profile completed', icon: '&#128077;'})
			<% } %>

		<% if(locals.token) { %>
					localStorage.setItem('Thetoken', "<%= locals.token %>");
			var test = localStorage.getItem('Thetoken');
			socket = io.connect('http://localhost:8080');
			socket.on('connect', () => {
				socket.on('notifvue', (data) => {
					console.log("blajfiheruaghergaowfe");
					notification({title: "New vue!", content: data.user + " is looking at your profile page", icon: '&#128077;'});
				});
				socket.emit('identify', {
					token: test
				});
				socket.on('message', (data) =>{
					console.log("Jai recu un message");
					notification({title: 'New message from '+ data.leUser, content: data.message, icon: '&#128077;'})

					<% if( locals.page == "chat" ) { %>
					<% } %>

				<% if (locals.title == "Chat"){ %>
								addMessage(data.message, false);
				<%}%>

				});
				socket.on('notiflike', (data) => {
					notification({title: "New like", content: data.user + " likes you!", icon: '&#128077;'});
				});
				socket.on('notifmatch', (data) => {
					notification({title: "It\'s a match!", content: data.user + " likes you too!", icon: '&#128077;'});
				});
				socket.on('notifnomatch', (data) => {
					console.log("NO LONGER MATCH");
					notification({title: "A match is gone ...", content: data.user + " no longer likes you.", icon: '&#128077;'});
				});
				<% if (locals.title == "Profile"){ %>
					socket.emit('vue_profile', {
						room: '<%= locals.field['profil'] %>'
					});
				<%}%>
			});
		<% } else { %>
					console.log("pas de locals");
		<% } %>
</script>
</body>
</html>
