
<div style="display:inline-block;">
<div class="field"> <label>Gender</label> </div>
<div class="ui input">
    <select name="gender" class="ui dropdown">
    	<option hidden disabled selected value> -- select an option -- </option>
        <option  <% if (locals.infos && locals.infos.gender == "male") {%> <%= selected="selected"%> <%}%> value="male">Male</option>
        <option <% if (locals.infos && locals.infos.gender == "female") {%> <%= selected="selected"%> <%}%> value="female">Female</option>
        <option <% if (locals.infos && locals.infos.gender == "other") {%> <%= selected="selected"%> <%}%> value="other">Other</option>
    </select>
</div>
</div>
