<!DOCTYPE html>
<html>
	<head>
		<title>
			<% if (locals.title) {%>
			<%= locals.title %>
			<% }else{%>
			<%= "Matcha"%>
			<%}%>
		</title>
		<link rel="stylesheet" href="/assets/semantic/semantic.min.css">
	</head>
	<body>		  
		<div class="ui inverted segment">
  			<div class="ui inverted secondary menu">
				<a href="/about-you" class="item">About you</a>
				<a href="/my-account" class="item">My account</a>
				<a href="/research" class="item">Research</a>
				<div class="right menu">
                	<div class="ui teal buttons">
                    	<div class="ui button">Connexion</div>
                    	<div class="ui simple dropdown icon button">
                	        <i class="dropdown icon"></i>
            	            <div class="menu">
                            	<div class="item"><a href="/sign-up" style="color:black"><b>Sign up</b></a></div>
                        	    <div class="item"><a href="/sign-in" style="color:black"><b>Sign in</b></a></div>
                            	<div class="item"><a href="/sign-out" style="color:black"><b>Sign out</b></a></div>
                        	</div>
                    	</div>
					</div>
				</div>
			</div>
  		</div>
		<div style="margin-left: 5vmin" >


			<% if (locals.session && locals.session.logon) {%>
			<%= locals.session.login %>
			<% }else{%>
			<%= "Your not log on"%>
			<%}%>
			</br>
