<% if (like == true) {%>
	<a href="/like-this-user/<%= login %>">
		<div class="ui black button mini">
	  		<i class="heart icon"></i> Unlike
		</div>
	</a>
<% }else{%>
	<a href="/like-this-user/<%= login %>">
		<div class="ui red button medium">
	  		<i class="heart icon"></i> Like
		</div>
	</a>
<%}%>
