<% if (empty == 1){ %>
    <div class="ui left pointing red basic label">
        Please fill in this field correctly.
    </div>
<% } %>

<% if (vpass == 1){ %>
    <div class="ui left pointing red basic label">
        Please write the same password as above.
    </div>
<% } %>