

<div id="research" class="ui raised  segment">
	<div id="age">
		<p>
  	<label for="amount">Age range:<span id="add-space"><span></label>
  	<input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
		</p>
		<div id="slider-range"></div>
	</div>


	<div id="distance">
		<p>
  			<label for="amount-distance">Distance maximum:</label>
  			<input type="text" id="amount-distance" readonly style="border:0; color:#f6931f; font-weight:bold;">
		</p>
		<div id="slider-range-min"></div>
	</div>

	<div id="inter">
		<p>
  			<label for="amount-inter">Interet en commun:</label>
  			<input type="text" id="amount-inter" readonly style="border:0; color:#f6931f; font-weight:bold;">
		</p>
		<div id="slider-inter"></div>
	</div>

	<div id="popularite">
		<p>
  			<label for="amount-popularite">Popularite:</label>
  			<input type="text" id="amount-popularite" readonly style="border:0; color:#f6931f; font-weight:bold;">
		</p>
		<div id="slider-popularite"></div>
	</div>
</div>



<style>

#research{
	//border:solid 1px blue;
	margin-bottom:20px;
}


#age, #distance, #inter, #popularite{
	vertical-align:top;
	display:inline-block;
	margin-left:10px;
	height:80px;
		//border:red 1px solid;
	padding:0;
	width:230px;
}

#slider-range,  #slider-range-min, #slider-inter, #slider-popularite  {
	width:180px;
		//border:green 1px solid;
	margin-right:0;
}

</style>

<script>
  	$( function() {
    	$( "#age #slider-range" ).slider({
      		range: true,
      		min: 0,
      		max: 99,
      		values: [ 75, 99 ],
      		slide: function( event, ui ) {
        		$( "#amount" ).val( "" + ui.values[ 0 ] + " - " + ui.values[ 1 ] + " years old" );
      		}
    	});
    	$( "#amount" ).val( $( "#slider-range" ).slider( "values", 0 ) +
      		" - " + $( "#slider-range" ).slider( "values", 1 ) + " years old" );
  	} );
</script>


<script>
  	$( function() {
    	$( "#slider-range-min" ).slider({
      		range: "min",
      		value: 37,
      		min: 1,
      		max: 700,
      		slide: function( event, ui ) {
        		$( "#amount-distance" ).val( "" + ui.value  + " km");
      		}
    	});
    	$( "#amount-distance" ).val( "" + $( "#slider-range-min" ).slider( "value" ) + " km" );
  	} );
</script>


<script>
  	$( function() {
    	$( "#slider-inter" ).slider({
      		value:2,
      		min: 0,
      		max: 5,
      		step: 1,
      		slide: function( event, ui ) {
        		$( "#amount-inter" ).val( "" + ui.value );
      		}
    	});
    	$( "#amount-inter" ).val( "" + $( "#slider-inter" ).slider( "value" ) );
  	} );
</script>


<script>
  	$( function() {
    	$( "#slider-popularite" ).slider({
      		value:2,
      		min: 0,
      		max: 5,
      		step: 1,
      		slide: function( event, ui ) {
        		$( "#amount-popularite" ).val( "" + ui.value + " coeurs" );
      		}
    	});
    	$( "#amount-popularite" ).val( "" + $( "#slider-popularite" ).slider( "value" ) + " coeurs");
  	} );
</script>
