
<% if (login_check == 1 || login_check == "empty"){ %>
    <div class="ui left pointing red basic label">
        Please fill in this field correctly.
    </div>
<% } %>

<% if (login_check == 2 || login_check == "login_no_exist"){ %>
    <div class="ui left pointing red basic label">
        Login doesn't exist.
    </div>
<% } %>

<% if (login_check == 3  || login_check == "need_confirm"){ %>
    <div class="ui left pointing red basic label">
        You need to confirm your account first, please check your mailbox.
    </div>
<% } %>

<% if (login_check == 1 ){ %>
    <div class="ui left pointing red basic label">
        Login already exists, please try another one.
    </div>
<% } %>



