<% if (mail == "mail_already_taken"){ %>
    <div class="ui left pointing red basic label">
        Mail already exists</a>.
    </div>
<% } %>


<% if (mail == "empty"){ %>
    <div class="ui left pointing red basic label">
        Please fill in this field correctly.
    </div>
<% } %>
