<% if (check_passwd == "wrong_format"){ %>
    <div class="ui left pointing red basic label">
        Your password must contain a least 8 characters, 1 uppercase letter,</br>
        1 lowercase letter, 1 number and 1 special character (%#:$*@_-&^!>?()[]{}+=.,;).
    </div>
<% } %>

<% if (check_passwd == "dont_match"){ %>
    <div class="ui left pointing red basic label">
        Wrong password, try again.
    </div>
<% } %>

<% if (check_passwd == "empty"){ %>
    <div class="ui left pointing red basic label">
        Please fill in this field correctly.
    </div>
<% } %>


<% if (check_passwd == "passwd_different"){ %>
    <div class="ui left pointing red basic label">
        Please write the same password twice.
    </div>
<% } %>
