
<% include elements/header %>
<div class="ui container" style="margin-top: 30px">
	<h1>About you</h1>
	</br>
	<form id="form" method="POST" action="about-you" encType="multipart/form-data" class="ui fluid form">
		<div class="ui two column centered grid">
  			<div class="column">
				<%- include('elements/preferences', {locals: locals});  %>
			</div>
    		<div class="column" style="padding-left: 70px">
				<%- include('elements/localisation', {locals: locals});  %>
			</div>
		</div>
		<div class="ui container" style="margin-top: 30px">
			<%- include('elements/photo_about');  %>
		</div>
		</br>
			<h4 class="ui dividing header"></h4>
		<div class="ui middle aligned center aligned grid container" style="margin-top:10px;">
    		<input type="submit" class="ui button" name="submit_button" value="Valider">
		</div>
	</form>
</div>
<% include elements/footer %>
<script>
	document.getElementById("file").onchange = function() {
    	document.getElementById("form").submit();
    };
</script>
