<% include header %>
<form method="POST" action="about-you" class="ui fluid form">
    Gender : <select name="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
    </br>
    Show Me : <select name="orientation">
                <option value="men">Men</option>
                <option value="women">Women</option>
                <option value="everyone">Everyone</option>
            </select>
    </br>
    Bio : <input type="text" name="bio">
    </br>
    Interests : <a class="ui tag label" id="voyage">Voyage</a>
    <a class="ui tag label" id="cuisine">Cuisine</a>
    <a class="ui tag label" id="escalade">Escalade</a>
    <a class="ui tag label" id="equitation">Equitation</a>
    <a class="ui tag label" id="sieste">Sieste</a>
    <a class="ui tag label" id="soleil">Soleil</a>
    </br>
    Photos : <input type="file" name="photo">
    <input type="submit" class="ui primary button" value="Valider">
</form>
<% include footer %>