<% include('elements/header.ejs'); %>

Enter the email address associated with your Matcha's account.</br>
<div class="ui input">
    <input type="text" placeholder="Email address" required>
  </div>
  <button class="ui primary button">
    Send
  </button>

<% include('elements/footer.ejs'); %>