<!DOCTYPE html>
<html>
	<head>
		<title>
			<% if (locals.title) {%>
			<%= locals.title %>
			<% }else{%>
			<%= "Matcha"%>
			<%}%>
		</title>
		<link rel="stylesheet" href="/assets/semantic/semantic.min.css">
	</head>
	<body>

		<div class="ui menu inverted">
  			<div class="header item">
				<a href="/test" class="header item">Test</a>
  			</div>
  			<div class="header item">
				<a href="/sign-in" class="header item">Sign In</a>
  			</div>
  			<div class="header item">
				<a href="/sign-up" class="header item">Sign Up</a>
  			</div>
  			<div class="header item">
				<a href="/about-you" class="header item">About you</a>
  			</div>
  			<div class="header item">
				<a href="/my-account" class="header item">My account</a>
  			</div>
  		</div>

		<div style="margin-left: 5vmin" >


			<% if (locals.session.logon) {%>
			<%= locals.session.login %>
			<% }else{%>
			<%= "Your not log on"%>
			<%}%>


