<h1>Blabla</h1>
<form method="POST" action="/login">
    <label for="identifiant">Identifiant</label> :
    <input type="text" name="identifiant" id="identifiant" required>
    <label for="mdp" name="mdp" id="mdp">Mot de passe</label> :
    <input
    <!-- <span id="aideidentifiant"></span> -->
    <input type="submit" value="Valider">
</form>
<!-- <script src="login.js"></script> -->