<head>
    <meta charset="utf-8">
    <title>My Account</title>
</head>
Login :
<input type="text" name="login" id="login" value=<%= login %>>
<br/>
First name : 
<input type="text" name="fname" id="fname" value=<%= fname %>>