<% include elements/header %>

<div class="ui container">

	<h1>Research</h1>
	<%- include('elements/research_panel', {session: session}); %>

	<script>
		$('.ui.dropdown')
			.dropdown()
		;
	</script>
	<p>
	</p>


	<div class="ui special cards centered">
		<% if (locals.users[0]){
			locals.users.forEach(function(user) {  %>
			<%- include('elements/profile_card', {user: user}) %>
		<% }); } else { console.log("pas de user"); }%>
	</div>


<div class="ui centered grid">
    <div class="center aligned column">
		<div class="ui pagination menu" >
			<a class="active item">
				1
			</a>
			<div class="item">
				2
			</div>
			<a class="item">
				3
			</a>
			<a class="disabled item">
				...
			</a>
			<a class="item">
				12
			</a>
		</div>
		</div>
		</div>

</div>

<script>
	$('.special.cards .image').dimmer({
		on: 'hover'
	});

</script>

<% include elements/footer %>
