<% include elements/header %>


<div class="ui container">

<h1>Research</h1>
<%- include('elements/research_panel') %>

<div>
<div class="ui selection dropdown">
  <input type="hidden" name="sortby">
  <i class="dropdown icon"></i>
  <div class="default text">Sort by</div>
  <div class="menu">
    <div class="item" data-value="0">Age</div>
    <div class="item" data-value="1">Popularity</div>
    <div class="item" data-value="2">Distance</div>
    <div class="item" data-value="3">Interest</div>
    <div class="item" data-value="4">Match Score</div>
  </div>
</div
<div>

	<script>
$('.ui.dropdown')
  .dropdown()
;
	</script>


	<p>
		 
	</p>



<div class="ui special cards">
	<% if (locals.users[0]){
		locals.users.forEach(function(user) {  %>
		<%- include('elements/profile_card', {user: user}) %>
	<% }); }
else
{
	console.log("pas de user");
}%>

</div>



</div>

<script>
	$('.special.cards .image').dimmer({
  		on: 'hover'
	});

</script>

<% include elements/footer %>
