<% include elements/header %>
<h1>Research</h1>


<div class="ui special cards">
	<% locals.users.forEach(function(user) {  %>
		<%- include('elements/profile_card', {user: user}) %>
	<% });  %>

</div>

<script>
	$('.special.cards .image').dimmer({
  		on: 'hover'
	});

</script>

<% include elements/footer %>
