<head>
    <meta charset="utf-8">
    <title>Sign In</title>
</head>
<h1>Sign In</h1>
<form method="POST" action="/sign-in">
    <label for="login">Login</label> :
    <input type="text" name="login" id="login" required>
    <span id="helplogin"></span>
    <br/>
    <label for="passwd">Password</label> :
    <input type="password" name="passwd" id="passwd" required>
    <span id="helppasswd"></span>
    <input type="submit" value="Connexion">
</form>
<!-- <script src="login.js"></script> -->