
<%- include('../elements/header.ejs'); %>
<div class="ui container" style="margin-top: 30px">
	<h1>DashBoard</h1>

	<div class="ui secondary pointing menu">
		<a href="/dashboard/my-like" class="item  <% if(locals.page == "my-like"){%>active <%}%> "> My like </a>
		<a href="/dashboard/they-like-me" class="item <% if(locals.page == "they-like-me"){%>active <%}%> "> They like me </a>
		<a href="/dashboard/they-watched-me" class="item <% if(locals.page == "they-watched-me"){%>active <%}%> "> They wathed me </a>
		<a href="/dashboard/my-match" class="item <% if(locals.page == "my-match"){%>active <%}%>"> My match </a>
	</div>
	<div class="ui segment">

		<div class="ui special cards centered">
			<% if (locals.users[0]){
				locals.users.forEach(function(user) {  %>
				<%- include('../elements/profile_card', {user: user}) %>
			<% }); } else { console.log("pas de user"); }%>

		</div>


		</p>
	</div>
</div>
<%- include('../elements/footer.ejs'); %>


<script>
	$('.special.cards .image').dimmer({
		on: 'hover'
	});

</script>
