<%- include('../elements/header.ejs'); %>

<div class="ui container" style="margin-top: 30px">
	<h1>Notifications</h1>

<% if (locals.notifs){ %>
	<% locals.notifs.forEach(function(notif) {  %>
		<p> <%= notif.messages %> </p>
	<% });  %>
<% } %>


</div>
<%- include('../elements/footer.ejs'); %>
