
<form id="form" method="POST" action="http://localhost:8080/about-you" encType="multipart/form-data" class="ui fluid form">



	<input type="text" id="datepicker" name="gender" value="hello">



	<!-- <select name="gender" class="ui dropdown"> -->
	<!-- 	<option hidden disabled selected value> -- select an option -- </option> -->
	<!-- 	<option value="male">Male</option> -->
	<!-- 	<option value="female">Female</option> -->
	<!-- 	<option value="other">Other</option> -->
	<!-- </select> -->



	<input type="text" id="datepicker" name="orientation" value="hello toi">

	<!-- <select name="orientation" class="ui dropdown"> -->
	<!-- 	<option value="men">Men</option> -->
	<!-- 	<option value="women">Women</option> -->
	<!-- 	<option value="everyone">Everyone</option> -->
	<!-- </select> -->

	<input type="text" id="datepicker" name="birthday" >

	<textarea style="height:80px;" name="bio"></textarea>



	<input type="text" id="datepicker" name="interests" value="hello_toi">


	<!-- <select multiple  name="interests" class="ui"> -->
	<!-- 	<option  hidden disabled selected value> -- select an option -- </option> -->
	<!-- 	<option value="voyage">Voyage</option> -->
	<!-- 	<option value="cuisine">Cuisine</option> -->
	<!-- 	<option value="escalade">Escalade</option> -->
	<!-- 	<option value="equitation">Equitation</option> -->
	<!-- 	<option value="soleil">Soleil</option> -->
	<!-- 	<option value="sieste">Sieste</option> -->
	<!-- </select> -->

	<input id="monid" type="submit" class="ui button" value="Localise Me" name="submit_button">
	<input type="text" id="country" name="country" placeholder="First Name"  > 
	<input type="text" id="city" name="city" placeholder="First Name" >
	<input type="text" id="zipcode" name="zipcode" placeholder="First Name" > 

	<input type="submit" class="ui button" name="submit_button" value="Valider">
	<input type="file" class="inputfile" id="file" name="photo" />
</form>
