<form method="POST" action="http://localhost:8080/research" class="ui form">
				<!-- <label for="amount">Age range:<span id="add-space"><span></label> -->
				<!-- <input name="age" type="text" id="amount" value="18 - 42 years old"> -->
				<label for="amount-distance">Distance maximum:</label>
				<input name="distance" type="text" id="amount-distance" value="42 km">
				<label for="amount-inter">Interet en commun:</label>
				<input name="inter" type="text" id="amount-inter" value="2">
				<label for="amount-popularite">Popularite:</label>
				<input name="popularite" type="text" id="amount-popularite" value="3 coeurs">
			Sort by :
					<input name="sortby" type="text" value="sortdist">
			<input type="submit" class="ui primary button" value="Research">
</form>