
		<form method="POST" action="http://localhost:8080/sign-up" class="ui large form">
					<input type="text" name="lname" placeholder="Last name" >
					<input type="text" name="fname" placeholder="First name" >
					<input type="email" name="mail" placeholder="Email" >
					<input type="text" name="login" placeholder="Login" >
					<input type="password" name="passwd" placeholder="Password" >
					<input type="password" name="verif" placeholder="Password" >
    				<input type="submit" class="ui fluid primary button" value="Create">
		</form>
